body {
  background: #9ed2ec;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snowman {
  width: 340px;
  height: 500px;
  position: relative;
  background: greenyellow;
}

.head {
  position: relative;
  height: 120px;
  width: 120px;
  background: #fff;
  border-radius: 50%;
  top: 100px;
  left: 110px;
}

.eye-left,
.eye-right {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
}

.eye-left {
  top: 40px;
  left: 35px;
}

.eye-right {
  top: 25px;
  left: 75px;
}

.nose {
  position: relative;
  width: 30px;
  height: 30px;
  background: #f7880f;
  top: 35px;
  left: 49px;
  clip-path: polygon(50% 100%, 30% 0, 70% 0);
}

.hat {
  position: relative;
  width: 120px;
  height: 10px;
  background: #2b303a;
  border-radius: 4px;
  bottom: 50px;
  left: 15px;
  transform: rotate(20deg);
}

.hat-top {
  position: relative;
  height: 50px;
  width: 90px;
  background: #2b303a;
  bottom: 42px;
  left: 15px;
  clip-path: polygon(20% 0%, 80% 0, 100% 100%, 0% 100%);
}
