body {
  background: #9ed2ec;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snowman {
  width: 340px;
  height: 500px;
  position: relative;
}

.head {
  position: relative;
  height: 120px;
  width: 120px;
  background: #fff;
  border-radius: 50%;
  top: 100px;
  left: 110px;
}

.eye-left,
.eye-right {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
}

.eye-left {
  top: 40px;
  left: 35px;
}

.eye-right {
  top: 25px;
  left: 75px;
}

.nose {
  position: relative;
  width: 30px;
  height: 30px;
  background: #f7880f;
  top: 35px;
  left: 49px;
  clip-path: polygon(50% 100%, 30% 0, 70% 0);
}

.hat {
  position: relative;
  width: 120px;
  height: 10px;
  background: #2b303a;
  border-radius: 4px;
  bottom: 50px;
  left: 15px;
  transform: rotate(20deg);
}

.hat-top {
  position: relative;
  height: 50px;
  width: 90px;
  background: #2b303a;
  bottom: 42px;
  left: 15px;
  clip-path: polygon(20% 0%, 80% 0, 100% 100%, 0% 100%);
}

.snowman-body {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  top: 90px;
  left: 70px;
}

.b1,
.b2,
.b3 {
  height: 15px;
  width: 15px;
  background: #2b303a;
  border-radius: 50%;
  margin-bottom: 20px;
}

.buttons {
  position: relative;
  top: 60px;
  left: 90px;
}

.hand-left {
  position: relative;
  width: 100px;
  height: 5px;
  background: #83282a;
  bottom: 68px;
  right: 67px;
  transform: rotate(25deg);
}

.hand-left div {
  position: relative;
  width: 30px;
  height: 5px;
  background: #83282a;
  bottom: 10px;
  left: 5px;
  transform: rotate(45deg);
}

.hand-right {
  position: relative;
  width: 100px;
  height: 5px;
  background: #83282a;
  bottom: 73px;
  left: 168px;
  transform: rotate(-25deg);
}

.hand-right div {
  position: relative;
  width: 30px;
  height: 5px;
  background: #83282a;
  bottom: 10px;
  left: 65px;
  transform: rotate(-45deg);
}

.scarf {
  position: relative;
  width: 35px;
  height: 50px;
  background: #e63c33;
  bottom: 90px;
  left: 195px;
  transform: rotate(-15deg);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.scarf2 {
  position: relative;
  width: 120px;
  height: 35px;
  background: #e63c33;
  bottom: 170px;
  left: 107px;
  border-radius: 10px;
}

.scarf3 {
  position: relative;
  width: 35px;
  height: 80px;
  background: #e63c33;
  bottom: 185px;
  left: 182px;
  transform: rotate(-10deg);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
