* {
  padding: 0;
  margin: 0;
}

body {
  background: #45444e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 450px;
  height: 400px;
  background: #3d98b7;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.head {
  position: absolute;
  width: 240px;
  height: 300px;
  background: #faffce;
  border-radius: 90px 90px 0 0;
}

.ear-left,
.ear-right {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #d7e2e8;
  border: 15px solid #faffce;
  border-radius: 50%;
  z-index: 3;
}

.ear-left {
  left: -15%;
}

.ear-right {
  right: -15%;
}

.head-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #faffce;
  border-radius: 90px 90px 0 0;
  z-index: 4;
}

.left-eye,
.right-eye {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #2a3144;
  z-index: 6;
  border-radius: 50%;
  top: 25%;
}

.left-eye {
  left: 25%;
}

.right-eye {
  right: 25%;
}

.muzzle {
  position: absolute;
  width: 72px;
  height: 75px;
  background: #d1e1e2;
  z-index: 7;
  border-radius: 45%;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nose {
  position: absolute;
  background: #22293a;
  width: 32px;
  height: 20px;
  border-radius: 40%;
  top: 15%;
}

.bottom-nose {
  position: absolute;
  width: 7px;
  height: 30px;
  background: #22293a;
}

.mouth {
  position: absolute;
  width: 36px;
  height: 7px;
  background: #22293a;
  top: 65%;
  border-radius: 10px;
}
