* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222729;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 600px;
  height: 500px;
  background-color: green;
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 230px;
  height: 130px;
  background-color: #6d4b27;
}

.head::before {
  content: "";
  width: 250px;
  height: 230px;
  background-color: #222729;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  left: -10px;
}

.eye-container {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #6d4b27;
  border-radius: 50%;
  top: 80px;
}

.eye-container.left {
  left: 185px;
}

.eye-container.right {
  right: 185px;
}

.eye-container::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 50%;
  bottom: 7px;
}

.eye-container.left::before {
  right: -5px;
}

.eye-container.right::before {
  left: -5px;
}

.eye {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #000;
  border-radius: 50%;
  border: 10px solid #f0ae1b;
  top: 20px;
}

.left-eye {
  left: 30px;
}

.right-eye {
  right: 30px;
}
