* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222729;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  z-index: -10;
}

.head {
  position: absolute;
  width: 230px;
  height: 130px;
  background-color: #6d4b27;
}

.head::before {
  content: "";
  width: 250px;
  height: 230px;
  background-color: #222729;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  left: -10px;
}

.eye-container {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #6d4b27;
  border-radius: 50%;
  top: 80px;
}

.eye-container.left {
  left: 185px;
}

.eye-container.right {
  right: 185px;
}

.eye-container::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 50%;
  bottom: 7px;
}

.eye-container.left::before {
  right: -5px;
}

.eye-container.right::before {
  left: -5px;
}

.eye {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #000;
  border-radius: 50%;
  border: 10px solid #f0ae1b;
  top: 20px;
}

.left-eye {
  left: 30px;
}

.right-eye {
  right: 30px;
}

.beak {
  position: absolute;
  width: 45px;
  height: 60px;
  background: #f0ae1b;
  top: 160px;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  border-radius: 50%;
}

.wings {
  position: absolute;
  width: 250px;
  height: 300px;
  background: #6d4b27;
  top: 150px;
  border-radius: 50%;
  z-index: -1;
}

.wings::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 310px;
  background: #9e784d;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.wings::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 230px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.foot {
  position: absolute;
  height: 40px;
  width: 15px;
  background: #f0ae1b;
  top: 420px;
  border-radius: 50%;
  border: 1px solid #9e784d;
}

.left-foot {
  left: 220px;
}

.right-foot {
  right: 220px;
}

.foot::before,
.foot::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0ae1b;
  border-radius: 50%;
  border: 1px solid #9e784d;
}

.left-foot::before {
  left: 15px;
}

.right-foot::before {
  right: 15px;
}

.left-foot::after {
  left: 30px;
}

.right-foot::after {
  right: 30px;
}

.branch {
  position: absolute;
  width: 400px;
  height: 15px;
  background: #fff;
  bottom: 25px;
  border-radius: 10px;
}

.forehead {
  width: 200px;
  height: 50px;
  background: #6d4b27;
  position: absolute;
  left: 200px;
  top: 75px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
