body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.gear {
  width: 110px;
  height: 110px;
  background-color: #5dc59d;
  border-radius: 50%;
}
