body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #002b82;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c3 {
  width: 260px;
  height: 260px;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2 {
  width: 210px;
  height: 210px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1 {
  width: 150px;
  height: 150px;
  background-color: #ff4040;
  border-radius: 50%;
}
