* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2e46;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ice-cream {
  background-color: #9cd2a2;
  width: 250px;
  height: 400px;
  border-radius: 45% 45% 10% 10%;
  position: relative;
}
