* {
  margin: 0;
  padding: 0;
}

body {
  background: #b286bdcc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 350px;
  height: 350px;
  background: blue;
  display: flex;
  justify-content: center;
}

.head-top {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #e57299;
  border-radius: 50%;
  top: -10px;
  border: 2px solid #000;
}

.head {
  position: absolute;
  width: 144px;
  height: 144px;
  background: #fff;
  border-radius: 64px 64px 56px 56px;
  border: 2px solid #000;
  top: 16px;
  z-index: 5;
}

.face {
  position: absolute;
  width: 112px;
  height: 112px;
  background: #fce5c3;
  border-radius: 48px;
  border: 2px solid #000;
  top: 32px;
  z-index: 5;
}

.face::before,
.face::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 48px;
  background: #000;
  top: 32px;
}

.face::before {
  left: 30px;
}

.face::after {
  left: 76px;
}

.body {
  position: absolute;
  width: 96px;
  height: 112px;
  background: #7878ac;
  border-radius: 160px 160px 144px 144px;
  top: 148px;
  border: 2px solid #000;
  z-index: 4;
}

.right-arm {
  position: absolute;
  width: 16px;
  height: 72px;
  background: #fff;
  top: 152px;
  left: 220px;
  transform: rotate(-37deg);
  border: 2px solid #000;
  z-index: 1;
  border-top-right-radius: 16px;
}

.right-hand {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #e57299;
  top: 208px;
  left: 238px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 2;
}

.left-arm {
  position: absolute;
  width: 16px;
  height: 40px;
  background: #fff;
  top: 165px;
  left: 120px;
  border: 2px solid #000;
  border-top-left-radius: 16px;
  z-index: 10;
  border-top-right-radius: 8px;
  transform: skew(-11deg, -35deg);
}

.left-hand {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #e57299;
  top: 185px;
  left: 99px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 15;
}

.left-hand::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 18px;
  background: #e57299;
  top: -21px;
  left: 18px;
  border-radius: 16px 16px 0 0;
  border: 2px solid #000;
  transform: rotate(9deg);
}

.left-hand::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 18px;
  background: #e57299;
  top: -19px;
  left: 0px;
  border-radius: 16px 16px 0 0;
  border: 2px solid #000;
  transform: rotate(-22deg);
}

.left-leg,
.right-leg {
  position: absolute;
  width: 16px;
  height: 56px;
  background: #fff;
  top: 256px;
  border: 2px solid #000;
}

.left-leg {
  left: 144px;
  transform: rotate(3deg);
}

.right-leg {
  left: 184px;
  transform: rotate(-3deg);
}

.left-foot,
.right-foot {
  position: absolute;
  width: 40px;
  height: 24px;
  background: #e57299;
  border-radius: 32px;
  border: 2px solid #000;
  top: 304px;
  z-index: 10;
}

.left-foot {
  left: 130px;
}

.right-foot {
  left: 175px;
}
