* {
  margin: 0;
  padding: 0;
}

body {
  background: #b286bdcc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 350px;
  height: 350px;
  background: blue;
  display: flex;
  justify-content: center;
}

.head-top {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #e57299;
  border-radius: 50%;
  top: -10px;
  border: 2px solid #000;
}

.head {
  position: absolute;
  width: 144px;
  height: 144px;
  background: #fff;
  border-radius: 64px 64px 56px 56px;
  border: 2px solid #000;
  top: 16px;
}

.face {
  position: absolute;
  width: 112px;
  height: 112px;
  background: #fce5c3;
  border-radius: 48px;
  border: 2px solid #000;
  top: 32px;
}

.face::before,
.face::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 48px;
  background: #000;
  top: 32px;
}

.face::before {
  left: 30px;
}

.face::after {
  left: 76px;
}
