* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vampire {
  width: 600px;
  height: 100%;
  background: #47526d;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 450px;
  height: 450px;
  background: #edd9f0;
  border-radius: 50%;
  top: 10%;
  overflow: hidden;
}

.hair {
  position: absolute;
  width: 450px;
  height: 135px;
  background: #333;
}

.hair::before,
.hair::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #edd9f0;
  border-radius: 50%;
  top: 50%;
}

.hair::before {
  left: 1%;
}

.hair::after {
  right: 1%;
}

.left-eye,
.right-eye {
  position: absolute;
  width: 115px;
  height: 115px;
  background: #fff;
  top: 30%;
  border-radius: 50%;
}

.left-eye {
  left: 18%;
}

.right-eye {
  right: 18%;
}

.left-eye::before,
.right-eye::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background: red;
  border-radius: 50%;
  left: 30%;
  top: 20%;
}

.left-eye::after,
.right-eye::after {
  content: "";
  position: absolute;
  height: 58px;
  width: 58px;
  background: #000;
  border-radius: 50%;
  left: 38%;
  top: 20%;
}

.left-eye .brow,
.right-eye .brow {
  position: absolute;
  width: 140px;
  height: 50px;
  background: #edd9f0;
  top: -5%;
  left: -10%;
  z-index: 10;
}

.left-eye .brow {
  transform: rotate(15deg);
}
.right-eye .brow {
  transform: rotate(-15deg);
}

.nose {
  position: absolute;
  width: 44px;
  height: 22px;
  /* background: blue; */
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.nose::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  background: #333;
  bottom: 0;
  border-radius: 50%;
}

.nose::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #edd9f0;
  bottom: 2px;
  left: 2px;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  width: 225px;
  height: 22px;
  /* background: blue; */
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.mouth::before {
  content: "";
  position: absolute;
  width: 225px;
  height: 44px;
  background: #333;
  top: 0;
  border-radius: 50%;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 44px;
  background: #edd9f0;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}
